* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.general-width {
  width: 80%;
  margin: auto;
}

#subHeaderOuterDiv {  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);  
  margin-top: 4%;
}

#testimonialHeader2OuterDiv {
  background: #222222;
}

#vendorExperienceOuterDiv {
  background: #FFF8F5;
}

#footer {
  background: #25201D;
  padding-bottom: 20%;
}


@media only screen and (max-width: 900px) {
  #subHeaderOuterDiv {
    display: none;
  }
}